<Alert Color=Color.Primary Class="mt-4" Title="@Title">
    <MessageContent>
        <span class="text-nowrap">
            Please take our
            <a target="_blank" class="alert-link font-weight-bold link-dark" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a>
        </span> and tell us what you think.
    </MessageContent>
</Alert>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
