@namespace Blazor.Experiments.Markdown

@inherits CustomComponentBase

<div class="@ClassName" style="@Style">
    @ChildContent
</div>

@code {
    protected string ClassName => new CssBuilder().AddClass("btn-group").AddClass("me-2").AddClass(Class).Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
