@namespace Blazor.Experiments.Markdown

@using Markdig
@inherits CustomComponentBase

<div class="@Class" style="@Style bg-light">
    @MarkdownContent
</div>

@code 
{
    [Parameter]
    public string Content { get; set; }

    private MarkupString MarkdownContent => new MarkupString(Markdown.ToHtml(Content ?? "" , new MarkdownPipelineBuilder().UseAdvancedExtensions().Build()));
}