@inherits CustomComponentBase

<button class=@Class style=@Style type=@ButtonType.ToHtmlAttributeValue() @onclick="OnClick" @onclick:preventDefault=OnClick.HasDelegate>
    @ChildContent
</button>

@code {    
    [Parameter]
    public ButtonType ButtonType { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}